<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="root" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>